
.step3_product_info {
  border: solid 1px #D9E6E8;
  padding: 30px;
  width: 60%;
  text-align: left;
  @media (max-width: 991px) {
    width: 100%;
    text-align: center;
  }
}
.cart_item_col_name {
    border-bottom: 1px solid #D9E6E8;
    padding: 10px 0;
    display: flex;
    @media (max-width: 991px) {
      display: none;
    }
  }

  .cart_item_div {
    display: flex;
    border-bottom: solid 1px #D9E6E8;
    padding: 20px 0;
    @media (max-width: 991px) {
      display: block !important;
      text-align: center;
    }
    .item {
      display: flex;
      @media (max-width: 991px) {
        display: block !important;
        text-align: center;
      }
      img {
        max-width: 120px;
        height: auto;
      }
      .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 20px;
        p {
          margin-bottom: 0;
        }
        h4 {
          display: -webkit-box;
          /* 顯示的行數 */
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: auto;
          text-overflow: ellipsis;
          white-space: normal;
        }
        @media (max-width: 991px) {
          margin: 20px 0;
          h4 {
            margin-bottom: 0;
          }
        }
      }
    }
    .total {
      display: flex;
      position: relative;
      @media (max-width: 991px) {
        display: block !important;
        margin: 0 auto;
        text-align: center;
        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .cart_item_col_name,
  .cart_item_div {
    .item {
      width: 60%;
      padding-right: 10px;
      @media (max-width: 1199px) {
        padding-right: 30px;
      }
    }

    .price {
      width: 15%;
      padding-right: 10px;

      @media (max-width: 991px) {
        &.d-flex {
          display: block !important;
        }
        margin: 0 auto;
      }
    }

    .amount {
      width: 10%;
      padding-right: 10px;
      @media (max-width: 991px) {
        justify-content: center;
        margin: 5px;
      }
    }

    .total {
      width: 15%;
      p {
        margin-bottom: 0;
      }
    }
    @media (max-width: 991px) {
      .item,
      .price,
      .amount,
      .total {
        width: 100%;
        text-align: center;
        padding-right: 0px;
      }
    }
  }

  .sum_div {
    color: var(--color1-blue);
    width: 300px;
    margin-left: calc(100% - 300px);
    @media (max-width: 991px) {
      margin-left: 0;
      width: 100%;
    }
    .price {
      margin-top: 20px;
    }
  
    .card-title {
      font-weight: bold;
    }
  
    .price,
    .delivery_fee,
    .total {
      display: flex;
      justify-content: space-between;
  
      p {
        margin-bottom: 5px;
      }
    }
  
    .price_red {
      color: var(--color8-price-red);
    }
  
    .order {
      width: 100%;
      border: solid 1px var(--color2-green);
      border-radius: 25px;
      padding: 6px 12px;
      margin: 20px 0 0;
      height: 46px;
      color: #fff;
  
      &:hover {
        opacity: 0.8;
        background-color: var(--color2-green);
      }
    }

  }

  .divider {
    width: 100%;
    background-color: #D9E6E8;
    height: 1px;
    margin: 30px 0;
  }

