.product_detail_comment {
  padding-top: 30px;
  text-align: left;
  h4 {
    margin-bottom: 25px;
  }

  .swiper-slide {
    background-color: #F4F4F4;
    border-radius: 15px 15px 0 0;
    border-bottom: solid 6px var(--color2-green);
    // height: 300px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1199px) {
      // height: 270px;
    }
  }

  .comment-item {
    flex: 1;
    box-sizing: content-box;
    position: relative;
    margin: 20px 15px 10px;
    padding: 0px 15px;

    @media (max-width: 767px) {
      margin: 15px;
    }

    & .comment-photo {
      width: 90px;
      height: 90px;
      border-radius: 50px;
      border: 6px solid var(--background-color);
      margin-right: 10px;
    }

    & h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0 5px 0;
    }

    & h4 {
      color: color-mix(in srgb, var(--default-color), transparent 50%);
      font-size: 14px;
      margin: 0;
    }

    & .stars {
      margin: 10px 0;

      & i {
        color: #ffc107;
        margin: 0 1px;
      }
    }

    & .comment-text {
      position: relative;
      text-indent: 15px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      max-height: 200px;
      overflow: hidden;
    }

    & .quote-icon-left,
    & .quote-icon-right {
      color: var(--color3-green);
      font-size: 14px;
      line-height: 0;
    }

    & .quote-icon-left {
      display: inline-block;
      left: -5px;
      top: 20px;
      position: relative;
    }

    & .quote-icon-right {
      display: inline-block;
      transform: scale(-1, -1);

      &.short {
        // margin-left: 5px;
        position: relative;
      }

      &.long {
        right: -12px;
        position: absolute;
        bottom: 20px;
      }
    }
  }

}