#cartView {
  .page_title {
    text-align: center;
  }

  .progress_bar_div {
    display: flex;
    .progress-container {
      width: 60%;
      position: relative;
      margin: 60px auto 10px;
      @media (max-width: 767px) {
        width: 80%;
      }
      @media (max-width: 576px) {
        width: 90%;
      }
    }
  
    .progress {
      width: 100%;
      height: 3px;
      background-color: var(--color1-blue);
      position: relative;
    }
  
    .progress-bar {
      height: 3px;
      width: 0;
      transition: width 0.5s ease;
    }
  
    .step-container {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: -10px;
      width: 100%;
    }
  
    .step {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border: solid 3px #69869B;
      background-color: #fff;
      border-radius: 50%;
      position: relative;
      
    }
  
    .step.active,
    .step.done {
      background-color: var(--color1-blue);
      border: solid 3px var(--color1-blue);
    }


    .label.active,
    .label.done {
      color: var(--color1-blue);
    }
  
    .step span {
      font-size: 20px;
      color: #fff;
    }
  
    .step-labels {
      width: 100%;
      margin: 15px auto 70px;
    }
  
    .label {
      text-align: center;
      flex: 1;
      color: #69869B;
      position: absolute;
      top: 0;
      &1 {
        left: -20px;
      }
      &2 {
        left: 50%;
        transform: translateX(-50%);
      }
      &3 {
        right: -15px;
      }
    }
  }

}