#product_detail {
  .swipers_container {
    @media (max-width: 991px) {
      padding: 40px 0;
    }
    .main_swiper,
    .small_swiper {
      .swiper-button-prev,
      .swiper-button-next {
        padding: 0px 10px;
        background-color: #888;
        opacity: 0.6;
        height: 30px;
        &:after {
          color: #fff;
          font-size: 14px;
          font-weight: bold;
        }
      }
      .swiper-button-prev {
        left: 0;
      }
      .swiper-button-next {
        right: 0;
      }
    }

    .main_swiper {
      max-width: 360px;
      @media (max-width: 1199px) {
        max-width: 420px;
      }
      img {
        width: 100%;
      }
    }

    .small_swiper {
      max-width: 360px;
      margin: 15px auto;
      @media (max-width: 1199px) {
        max-width: 420px;
        padding: 0 40px;
      }
      .swiper-button-prev,
      .swiper-button-next {
        @media (max-width: 1199px) {
          margin: 0;
          // 這個高度會在 swiperPart.vue 裡面使用 js 根據當前螢幕寬度修改
          height: 200px;
          top: 0;
          opacity: 1;
          background: #fff;
          width: 40px;
        }
        .d-flex {
          display: none !important;
          @media (max-width: 1199px) {
            display: block !important;
            padding: 0px 5px;
            background-color: #888;
            opacity: 0.6;
            color: #fff;
          }
        }
      }
      @media (max-width: 1199px) {
        .swiper-button-prev {
          left: -5px;
        }
        .swiper-button-next {
          right: -8px;
        }
      }
    }
  }

  .item_detail {
    @media (max-width: 991px) {
      text-align: left;
    }
    .hardness_degree {
      h4 {
        margin: 20px 0;
      }

      .degree {
        margin-left: 15px;
        .item {
          margin-right: 10px;
          width: 20px;
          height: 20px;
          background-color: #D9E6E8;
          border-radius: 50%;
          &.active {
            background-color: var(--color2-green);
          }
        }
      }
    }
    .desc {
      padding: 0 12px;
      li {
        list-style: none;
        position: relative;
        &::before {
          content: '';
          background-color: #000;
          width: 3px;
          height: 3px;
          position: absolute;
          left: -10px;
          top: 10px;
          border-radius: 50%;
        }
      }
    }
    .price {
      margin: 15px 0;
      color: var(--color8-price-red);
    }
    .sizeDiv {
      margin: 25px 0 10px;
      h5 {
        width: 160px;
        @media (max-width: 576px) {
          width: 90px;
        }
      }
    }

    .amountDiv {
      margin: 5px 0 15px;
      h5 {
        width: 160px;
        @media (max-width: 576px) {
          width: 90px;
        }
      }
      .number-input-container {
        width: 170px; // .decrement + input + .increment 的寬度
        height: 40px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
        border: solid 1px #ddd;

        span {
          display: inline-block;
          padding: 10px;
          user-select: none;
        }

        .decrement,
        .increment {
          width: 35px;
          i {
            font-weight: bold;
          }
          // &.disabled {
          //   background-color: #ddd;
          // }
          &:not(.disabled) {
            &:hover {
              cursor: pointer;
              background-color: #ddd;
            }
          }
        }
      }

      .number-input {
        width: 100px;
        text-align: center;
        outline: none;
        border: none;
        
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      .number-input {
        -moz-appearance: textfield;
      }
    }

    .button_div {
      margin: 30px 0;
      &.d-flex {
        @media (max-width: 576px) {
          display: block !important;
        }
      }
      button {
        width: calc(50% - 10px);
        @media (max-width: 576px) {
          width: 100%;
        }
      }
      .add_cart {
        color: var(--color2-green);
        margin-right: 20px;
        @media (max-width: 576px) {
          margin-right: 0px;
          margin-bottom: 10px;
        }
        &:hover {
          color: #fff;
          border: solid 1px var(--color2-green);
        }
      }

      .line_btn {
        color: var(--contrast-color);
        background: var(--contact-btn-green);
        padding: 10px;
        margin: 0;
        border-radius: 30px;
        border: none;
        transition: 0.3s;
  
        &:hover,
        &:focus:hover {
          background: color-mix(in srgb, var(--contact-btn-hover-green), transparent 15%) !important;
        }
      }
    }
  }
}