.index-page {
  color: var(--color1-blue);

  // .title_desc {
  //   font-size: 14px;
  //   line-height: 1.5;
  //   font-weight: 400;
  // }

  & .scroll-top {
      background-color: var(--color4-pink);
      border-radius: 50% !important;
    & i {
      font-size: 14px;
    }
  }

}