.bed_knowledge {
  .main_section {
    padding-bottom: 50px;
  
    @media (max-width: 991px) {
      padding-bottom: 0px;
    }
  }
  
  .page_title {
    text-align: center;
  }

  .know_list_div {
    margin: 80px 0 30px;

    @media (max-width: 991px) {
      margin: 60px 0 0px;
    }

    .know_item {
      background-color: #F4F4F4;
      text-align: left;
      margin: 0 0 25px 0;
      padding: 40px;
      border-radius: 25px;
      display: flex;
      align-items: center;

      @media (max-width: 991px) {
        margin: 0 0 25px 0;
        display: block;
      }
      @media (max-width: 414px) {
        padding: 30px 20px;
      }

      .img_container {
        border-radius: 15px;
        width: 40%;
        @media (max-width: 991px) {
          width: 100%; 
        }
        img {
          border-radius: 15px;
          width: 100%;
          @media (max-width: 767px) {
            height: auto;
          }
        }
      }

      & .text_div {
        width: 60%;
        padding: 0 30px;
        @media (max-width: 991px) {
          width: 100%;
          padding: 20px 0;
        }
        .desc {
          @media (max-width: 991px) {
            position: relative;
            text-indent: 15px;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            max-height: 100px;
            overflow: hidden;
          }
        }
        &:hover {
          h4, .desc {
            text-decoration: underline;
          }
        }
        .know_date {
          color: var(--color3-green);
          margin: 10px 0;
        }
        .tag_div {
          display: flex;
          flex-wrap: wrap;
          .tag {
            padding: 3px 5px;
            border: solid 1px;
            border-radius: 5px;
            margin-top: 10px; 
            margin-right: 5px;
          }
        }

        @media (max-width: 767px) {
          height: auto;
        }
      }
    }
  }

  .detail_div {
    margin: 50px 0;
    display: flex;

    .left,
    .right {
      width: 50%;
    }

    @media (max-width: 767px) {
      display: block;

      .left,
      .right {
        width: 100%;
      }
    }

    .left {
      .img_container {
        img {
          width: 100%;
        }
      }
    }

    .right {
      text-align: left;
      padding: 0 20px;

      @media (max-width: 767px) {
        margin-top: 30px;
        padding: 0;
      }
    }
  } 
}